.AddArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h2 {
    margin-bottom: 35px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 450px;

  .Error {
    color: red;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 35px;
  }

  .field {
    margin: 15px 0;
    width: 100%;
  }

  .btn {
    margin: 0 auto 25px auto;
    background-color: white;
    color: #303f9f;
    border: 1px solid #303f9f;

    transition: .2s all ease;

    &:hover {
      transition: .2s all ease;
      color: white;
    }
  }
}