.post {
  border: 2px solid rgba(0,0,0, .3);
  padding: 10px;
  border-radius: 8px;
  width: 55%;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .btn-edit {
      padding: 7px 10px;
      background-color: red;
      color: white;
      font-weight: bold;
      border-radius: 12px;
    }
  }
}

