.login-btn {
  margin-top: 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  padding: 5px 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0);
  transition: all .1s linear;

  &:hover {
    transition: all .1s linear;
    transform: scale(1.02);
    box-shadow: 0 0 5px rgba(0,0,0, .1);
  }
}